<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="defaultLayout"
            value="${date:format=HH\:mm\:ss}   ${pad:padding=-5:fixedLength=True:inner=${uppercase:${level}}}   ${pad:padding=-10:fixedLength=True:inner=${replace:searchFor=InheritDoc.:replaceWith=:inner=${logger}}:alignmentOnTruncation=right}   ${message:withException=true}"/>

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${logger:shortName=true}  ${message}"/>
    <target name="console" xsi:type="Console" layout="${defaultLayout}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="debugger,console" />
  </rules>
</nlog>